body {
    overflow-x: hidden;
}

.upContainer {
    margin-left: 18rem;
    padding-top: 1rem;
    background-color: rgb(0, 0, 0);
  
}


.userPicture {
    height: auto;
    width: 10rem;
    border: 2px solid white;
    border-radius: 5rem;
    
}

.userData {
    background-color: black;
    padding: 2rem;
}

.downContainer {
    background-color: rgba(20, 20, 20, 0.712);

}

.userDetails{
    margin-left: 20rem;
    padding-top: 2rem;
    font-size: x-large;
}

.editProfile {
    display: inline-block;
    vertical-align: middle; 
    position: absolute;
    right: 3rem;
    top: 5rem;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.829);
    color: black;
    font-weight: bold;
    border-radius: 0.5rem;
}

.profile{
    display: flex;
}

.icon {
    height: auto;
    width: 5rem;
    position: relative;
    padding: 1rem;
}

.socialMedia{
    position: absolute;
    right: 5rem;
    top: 18rem
}