<app-sideNav></app-sideNav>

<div class="container">

    <div class="titleContainer">
        <h3 class="title">Configuration</h3>
        <p class="subtitle">Modifica los datos de tu cuenta</p>
    </div>

    <div class="header">
        <h5 class="headerImage">Header Image</h5>
        
        <button class="headerButton" type="button">ELIJE FOTO</button>
    </div>

    <div class="profile">
        <h5 class="profileImage">Profile Image</h5>
        <button class="profileButton" type="button">ELIJE FOTO</button>
    </div>
   
    <div class="editProfileInfo">
        <h5>Editar informacion del perfil</h5>

        <br>
        <h6>Username:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        <h6>Creator Type:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        <h6>About:</h6>
        <input type="text" class="username" placeholder="username">
        <br><br>

        <h5>Informacion Personal</h5>

        <br>

        <h6>Username:</h6>
        <input type="text" class="username" placeholder="username">
        <br><br>

        <h6>Email:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Telefono:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        <h5>Redes Sociales</h5>
        
        <br>
        
        <h6>Instagram:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Facebook:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Twitter:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Spotify:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Apple Music:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>SoundCloud:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>YouTube:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>TikTok:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Twitch:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>

        <h5>Preferencias del vendedor</h5>
        
        <br>
        
        <h6>Generos Favoritos:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Vender interes musical:</h6>
        <input type="text" class="username" placeholder="username">
        
        <br><br>
        
        <h6>Situacion actual de editorial:</h6>
        <input type="text" class="username" placeholder="username">
        
    </div>
    

</div>

