.container {
    display: flex;
    text-align: center;
    width: auto;
    height: 100vh;
    padding-right: 20rem;
    background-color: rgba(0, 0, 0, 0.692);
}

.title, .subtitle{
    margin: 3rem 2rem;
}

.titleContainer {
    display: block;
    background-color: rgba(12, 4, 121, 0.671);
    padding: 0.1rem;
    width: 15rem;
    height: 15rem;
}

.headerImage{
    padding: 2rem;
}

.headerButton{
    padding: 2rem;
}