<section class="">


  <app-sideNav></app-sideNav>

  <div class="">


    <h3 class="w-screen text-center pt-10 font-bold">Placements</h3>





    <ul class="text-left ml-72">
      <li class="m-5 inline-block" *ngFor="let data of placements">
        <div class="bg-black bg-opacity-15">

          <img class="w-80 h-80 object-cover" [src]="[data.srcPhoto]" alt="placementImage">
          <div class="p-1">
            <p class="p-1 font-bold">{{data.placementsType}}</p>
            <h5 class="p-1"> {{data.placementName}}</h5>
            <h6 class="p-1"><span class="font-bold">Discography: </span>  {{data.discography}}</h6>
            <p class="p-1"><span class="font-bold">Time left: </span> {{data.timeLeft}}</p>
          </div>

        </div>

      </li>
    </ul>
  </div>
</section>