
.placements {
    margin-top: 5rem;
    margin-left: 20rem;
}

.title {
    text-align: center;
}

.placements-data{
    display: inline-block;
}

.placementContainer{
    margin-right: 1rem;
    padding-bottom: 1rem;
    background-color: black;
}

.placementImage{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.placement-info{
    padding-left: 1rem;
}

.typeOfPlacement{
    padding-top: 0.5rem;
}

.timeLeft{
    text-align: center;   
}

