.title{
    text-align: center;
    margin-top: 4rem;
}

.tracksContainer{
    padding: 5rem;
    margin-top: 1rem;
    
}

.tracks-titles{
    display: flex;
    border: 2px solid white;
}

.name{
    margin: 5rem;
}

.nameButton {
    background: none;
    border: none;
    color: white;
}

select{
    background: none;
    border: none;
    color: white;
}

.historyTracks{
    background-color: rgba(0, 0, 0, 0.774);
    border: 0.5px solid white;
    width: 90rem;
    height: 55vh;
}

.tracks{
    text-align: center;
    margin-top: 7.5rem;
}