<app-sideNav></app-sideNav>

<div class="container">
    <div class="title">
        <h2>Historial</h2>
        <p>Aqui se mostraran todos los tracks que hayan sido enviados a placements</p>
    </div>

    <div class="tracksContainer">
        <h5 style="font-weight: bolder; font-size: xx-large;">Tu historial de tracks</h5>
        <p>Vea todos sus aportes al portal de oportunidades</p>
        
        <div class="historyTracks">
            <div class="tracks-titles">

                <button type="button" class="nameButton"><h5 class="name">Fecha en la que se envió</h5></button>
                <select></select>
    
                <button type="button" class="nameButton"><h5 class="name">Status</h5></button>
                <select></select>
            </div>

            <div class="tracks">
                <h6>Hasta el momento no hay aportes a los placements disponibles......</h6>
            </div>
            
        </div>
        
    </div>


</div>