<app-sideNav></app-sideNav>

<div class="container">
    <div class="info">
        <h2 class="title">Track Library</h2>
        <p>Aqui se encontraran tus mp3 subidos a la pagina!</p>
        <input type="text" class="searchTrack" placeholder="Ingrese el nombre de su track...">
    </div>


    <div class="trackLibrary">
        
        <h4 class="tracks">Tu libreria</h4>

        <div class="description">
            <p>Navega a traves de los tracks subidos a la web</p>

            <div class="option-Buttons">
                <button type="button" class="optionButton">Mostrar listados en Marketplace </button>
                <button type="button" class="optionButton">Subir un track</button>
            </div>
            
        </div>
        

        <div class="orderBy">
            <button class="order">Ordenar Por:</button>
            <select class="order">
                <option class="option">Nombre</option>
                <option class="option">Mas nuevos</option>
                <option class="option">Mas viejos</option>
            </select>

            <button class="order">Genero</button>
            <select class="order">
                <option class="option"></option>
                <option class="option"></option>
                <option class="option"></option>
            </select>

            <button class="order">Mood</button>
            <select class="order">
                <option class="option"></option>
                <option class="option"></option>
                <option class="option"></option>
            </select>




            <button class="order" type="checkbox" id="bpm">BPM: 0 a 500 </button>
            <select class="order"></select>



            <button class="order">Keys</button>
            <select class="order">
                <option class="option"></option>
                <option class="option"></option>
                <option class="option"></option>
            </select>

            <button class="order">Tipo</button>
            <select class="order">
                <option class="option">Beat</option>
                <option class="option">Loop</option>
                <option class="option">Cancion completa</option>
                <option class="option">Acappella</option>
            </select>

        </div>

        <div class="trackContainer">

            <div class="listNames">
                <h5 class="titles">Titulo del track</h5>
                <h5 class="titles">Fecha en la que se publico</h5>
                <h5 class="titles">Tipo</h5>
                <h5 class="titles">Preview</h5>
                <h5 class="titles">Detalles</h5>
                <h5 class="titles">Configuracion</h5>
            </div>
    
            <div class="trackList">
                <p>Por el momento no hay tracks subidos......</p>
            </div>

        </div>
        
        

    </div>


</div>