<app-header></app-header>

<div class="container">
    <div class="logoImg">
        <img class=logo src="/assets/main/logo.webp" alt="logo">
    </div>

    <h3>MONETIZAR TU MUSICA</h3>
    <h3>NUNCA FUE TAN FACIL</h3>
    <br>
    <b>Una solución todo en uno para monetizar tu música</b>
    <br><br>

    <p class="text">Nuestra misión es ayudar a los creadores de música de todos los niveles a
    crecer y comenzar a lograr sus objetivos a través de las herramientas y
    oportunidades que te ofrecemos</p>

    <button type="button" class="sendButton"><b>Enviar solicitud</b></button>
    
</div>

<div class="arrowContainer">
    <button type="button" class="arrowButton" [routerLink]="['/team']" (click)="onArrowClick()">
        <img class="arrows" src="/assets/arrows.webp" alt="arrow">
    </button>
</div>
 

