<section class="min-h-screen bg-black flex flex-col justify-between">
    <app-header></app-header>


    <div class="container flex flex-col  flex-grow text-white">

        <div class="flex flex-wrap justify-between w-48">
            <img class=logo src="/assets/main/logo.webp" alt="logo">
        </div>

        <h1>MONETIZAR TU MUSICA</h1>
        <h1>NUNCA FUE TAN FACIL</h1>
        <br>
        <b>>>>>>>>>>>>>>>>>>>>>>>>>>>SOCIOS>>>>>>>>>>>>>>>>>>>>>>>>>></b>
        <br>

        <b>Una solución todo en uno para monetizartu música</b>
        <br>

        <p class="text">Nuestra misión es ayudar a los creadores de música de todos los niveles a
            crecer y comenzar a lograr sus objetivos a través de las herramientas y
            oportunidades que te ofrecemos</p>

        <br>
        <button type="button"
            class="flex items-center justify-center my-3 py-3 px-10 w-56 h-10 bg-white text-black rounded"><b>Enviar
                solicitud</b></button>

    </div>



    <div class="arrowContainer mb-4">
        <button type="button" class="arrowButton" [routerLink]="['/characteristics']">

            <img class="arrows" src="/assets/arrows.webp" alt="arrow">

        </button>


    </div>
</section>