<nav class="classForbackground text-white">

  <div class="container">
    <h2 class="title text-3xl">HypeSounds©</h2>

    <div class="userData" *ngIf="getUserInfo() | async as user">
        <img *ngIf="user.picture" [src]="user.picture" alt="User Avatar">
        <div class="userDetails">
          <p class="userName">{{ user.name ? truncateText(user.name, 17) : '' }}</p>
          <p>{{ user.email ? truncateText(user.email, 17) : '' }}</p>
        </div>
        
        
    </div>

    

    <div class="sideNav">
        <h6 class="mb-2">MAIN</h6>

        <button (click)="changeSection('feed')" [ngClass]="{'active': currentSection === 'feed'}">Feed</button>
        <br>
        <button (click)="changeSection('placements')" [ngClass]="{'active': currentSection === 'placements'}">Placements</button>
        <br>
        <button (click)="changeSection('marketPlace')" [ngClass]="{'active': currentSection === 'marketPlace'}">Market Place</button>

        <h6 class="mb-2">PROFILE</h6>

        <button (click)="changeSection('profile')" [ngClass]="{'active': currentSection === 'profile'}">Profile</button>
        <br>
        <button  (click)="changeSection('trackLibrary')" [ngClass]="{'active': currentSection === 'trackLibrary'}">Mis mp3</button>
        <br>
        <button (click)="changeSection('purchases')" [ngClass]="{'active': currentSection === 'purchases'}">Mis compras</button>
        <br>
        <button  (click)="changeSection('history')" [ngClass]="{'active': currentSection === 'history'}">Historial</button>

        <h6 class="mb-2">MAS...</h6>

        <button [routerLink]="['/resources']" (click)="changeSection('resources')" [ngClass]="{'active': currentSection === 'resources'}">Resources</button>
        <br>
        <button [routerLink]="['/configuration']" (click)="changeSection('configuration')" [ngClass]="{'active': currentSection === 'configuration'}">Configuracion</button>
        <br>
        <button [routerLink]="['/support']" (click)="changeSection('support')" [ngClass]="{'active': currentSection === 'support'}">Support</button>
        <br>
        <button (click)="logout()" [ngClass]="{'active': currentSection === 'logout'}">Cerrar Sesión</button>
      </div>
      <ul class="flex space-x-4">
        <li><img class="h-12" src="assets/dashboard/youtubeLogo.webp" alt="youtube"></li>
        <li><img class="h-12" src="assets/dashboard/instagramLogo.webp" alt="instagram"></li>
        <li><img class="h-12" src="assets/dashboard/discordLogo.webp" alt="discord"></li>
        <li><img class="h-12" src="assets/dashboard/beatstarsLogo.webp" alt="beatStars"></li>
      </ul>
      
      

      <div class="hypeSoundsText text-white">
        <p>© 2023 Hype Sounds.</p>
        <p>All rights reserved.</p>
      </div>
      
</div>

</nav>
