.body {
    height: 100vh;
    position: relative;
    top: 0;
    z-index: 0;
    background-image: url('/assets/dashboard/spaceBackground.webp');
    background-attachment: scroll;
    pointer-events: none;
    margin: 0;
  }

.body-content {
    pointer-events: auto;
    z-index: 1;
  }
  