.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
}

.showPassword {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    right: 0.5rem;
    bottom: 6.5rem;
}


.back{
    width: 100%;
    height: 100%;
}

.backButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    width: 5rem;
    height: auto;
}


.input-text {
    padding: 0.1rem;
    padding-left: 32px;
    font-weight: bold;
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding-right: 5rem;
}

.logo {
    width: 10rem;
    height: auto;
    z-index: 1;
}

.input-container {
    position: relative;
    display: inline-block;
}



.input-logo-password {
    top: 33%;
}

.loginButton, .registerButton{
    font-weight: bold;
}

.registerDiv{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.showPassword {
    position: absolute;
    border: none;
    background: none;
    padding: 0;
    right: 0.5rem;
    bottom: 3.1rem;
}

.eye-logo {
    width: 20px;
    height: 20px;
}